*.pyc
.vscode
.venv
config
.removed
galvanalyser/protobuf
galvanalyser/webapp/assets/protobuf
libs/galvanalyser-js-protobufs
galvanalyser-protobuf.js
webstack/.env
.pnpm-store
*.egg-info
env

.idea/

.run/

.test-data/
