*.pyc
.vscode
.venv
config
.removed
galvanalyser/protobuf
galvanalyser/webapp/assets/protobuf
libs/galvanalyser-js-protobufs
galvanalyser-protobuf.js
webstack/.env
.pnpm-store
*.egg-info
env

.idea/

.run/

.test-data/

frontend/src/demo_matlab_code.m

**/.env.secret
backend/backend_django/django_celery_beat.schedulersDatabaseScheduler

.harvester/
