[submodule "webapp-static-content/libs/closure-library"]
	path = libs/closure-library
	url = https://github.com/LuAPi/closure-library.git
[submodule "webapp-static-content/libs/protobuf"]
	path = libs/protobuf
	url = https://github.com/LuAPi/protobuf.git
[submodule "libs/galvanalyser-dash-components"]
	path = libs/galvanalyser-dash-components
	url=git@gitlab.com:battery-intelligence-lab/galvanalyser-project/galvanalyser-dash-components.git
