/* About flex boxes https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#main_page_container {
    display: flex;
    flex-wrap: wrap;
}

#main_tabs_container {
    flex: 3 1 65%;
}

#side_tabs_container {
    flex: 1 0 200px;
}